@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #ee7a68;
  --second-bg-color: #f5ecd1;
  --white-bg-color: #ffffff;
  --text-color: #713b39;
  --energy-color: #b4d1c0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--white-bg-color);
  color: var(--bg-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

span {
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--white-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.header :hover {
  border-bottom: var(--bg-color);
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--bg-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--bg-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--bg-color);
}

.navbar a:hover,
.navbar a.active {
  color: var(--bg-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--bg-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  width: 30vw;
  border: 0.2rem solid var(--bg-color);
  border-radius: 0.8rem;
  transition: 0.3s ease;
}

.home-img:hover img {
  box-shadow: 0 0 1rem var(--bg-color);
  transform: scale(1.02);
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.5rem;
}

.home-content {
  padding-right: 80px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-img img {
  width: 30vw;
  border: 0.2rem solid var(--bg-color);
  border-radius: 0.8rem;
  transition: 0.3s ease;
}

.about-img:hover img {
  box-shadow: 0 0 1rem var(--bg-color);
  transform: scale(1.02);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.4;
  font-size: 3.2rem;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.about-img img {
  width: 30vw;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--bg-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--bg-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--bg-color);
}

.servicos h2 {
  margin-bottom: 5rem;
}

.servicos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.servicos-container .servicos-box {
  margin-top: 90px;
  flex: 1 1 30rem;
  background: var(--white-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid;
  transition: 0.5s ease;
  box-shadow: 0 0 1rem var(--bg-color);
}

.servicos-container .servicos-box:hover {
  border-color: var(--bg-color);
  transform: scale(1.02);
}

.servicos-box i {
  font-size: 7rem;
  color: var(--bg-color);
}

.servicos-box h3 {
  font-size: 2.6rem;
  color: var(--bg-color);
}

.servicos-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
  color: var(--bg-color);
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product h2 {
  margin: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
}

.product-box {
  /* display: flex; */
  height: auto;
  width: 25%;
  background-color: var(--white-bg-color);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  padding: 0 0.625rem;
}

.product img {
  display: block;
  max-width: 100%;
  width: auto !important;
  max-height: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

.product h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.product p {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
}

.product .preco {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
}

.product button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--bg-color);
  color: var(--white-bg-color);
  font-size: 16px;
  border: 2px solid var(--bg-color);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product button:hover {
  /* background-color: var(--bg-color); */
  box-shadow: 0 0 1.5rem var(--bg-color);
  transition: 0.5s;
}

.contato h2 {
  margin-bottom: 3rem;
}

.contato form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contato form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contato form .input-box input,
.contato form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  background-color: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contato form .input-box input {
  width: 49%;
}

.contato form textarea {
  resize: none;
}

.contato form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--second-bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: 0 0 1.5rem var(--bg-color);
}

#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

#whatsapp-button a {
  display: block;
  font-size: 16px;
  color: #fff;
  background-color: #25d366;
  text-align: center;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

#whatsapp-button a i {
  margin: 2px 4px;
}

/* Responsive */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 10rem 3% 2rem;
  }

  .servicos {
    padding-bottom: 7rem;
  }

  .product {
    padding-bottom: 7rem;
  }

  .contato {
    min-height: auto;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: gray;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img {
    width: 50vw;
    margin-top: 4rem;
  }

  .about {
    width: 60vw;
    margin-top: 4rem;
  }

  .servicos h2 {
    margin-bottom: 3rem;
  }

  .product h2 {
    margin-bottom: 3rem;
  }

  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .product-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contato form .input-box input {
    width: 100%;
  }

  #whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 55px;
    z-index: 999;
  }

  #whatsapp-button a {
    display: block;
    font-size: 10px;
    color: #fff;
    background-color: #25d366;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }

  #whatsapp-button a i {
    margin: 2px 4px;
  }
}

@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }

  .about-img img {
    width: 90vw;
  }

  #whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 55px;
    z-index: 999;
  }

  #whatsapp-button a {
    display: block;
    font-size: 10px;
    color: #fff;
    background-color: #25d366;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }

  #whatsapp-button a i {
    margin: 2px 4px;
  }
}
